<mat-selection-list
  (selectionChange)="
    onSelectionChange($event, avatarList.selectedOptions.selected)
  "
  color="primary"
  disableRipple="true"
  #avatarList
>
  <mat-list-option
    class="list"
    *ngFor="let item of listItems"
    value="{{ item.itemText }}"
  >
    <img matListAvatar src="{{ item.avatar }}" alt="avatar" />
    <span matLine>{{ item.itemText }}</span>
  </mat-list-option>
</mat-selection-list>

<!-- Show how many items are selected -->
<!-- <p>
  {{ avatarList.selectedOptions.selected.length }}
</p> -->
