.list {
  font-size: 14px;
}

.list:hover,
.list:focus {
  background-color: #e1f5fe;
}

.list:focus {
  background-color: #e1f5fe;
}

// .list:active {
//   background-color: green;
// }

.selected {
  background-color: #e1f5fe;
}

.unselected {
  background-color: transparent;
}
