<div class="footer">
  <!-- <span class="wrapper"> -->
  <span>
    <img class="footer-logo" src="../../../assets/logos/footer-logo.png" />
  </span>
  <span id="vertical-bar" class="vertical-line margin-left-small"></span>
  <span id="explain-text" class="margin-left-small">
    Developed in partnership with BC's health authorities
  </span>

  <span class="spacer"></span>

  <a class="about-us">About us</a>
  <span class="bullet margin-left-mid">&bull;</span>
  <a id="terms-conditions" class="margin-left-mid">
    <span>Terms and Conditions</span>
  </a>
  <span class="bullet margin-left-mid">&bull;</span>
  <a class="margin-left-mid">Privacy</a>
  <span class="bullet margin-left-mid">&bull;</span>
  <a id="feedback" class="margin-left-mid"><span>Send Feedback</span></a>
  <!-- </span> -->
</div>
