<div class="footer">
  <span><img src="../../../assets/logos/footer-logo.png" /></span>
  <span class="virtical-line margin-left-small"></span>
  <span class="margin-left-small">
    Developed in partnership with BC's health authorities
  </span>

  <span class="spacer"></span>

  <a>About us</a>
  <span class="bullet margin-left-mid">&bull;</span>
  <a class="margin-left-mid">Terms and Conditions</a>
  <span class="bullet margin-left-mid">&bull;</span>
  <a class="margin-left-mid">Privacy</a>
  <span class="bullet margin-left-mid">&bull;</span>
  <a class="margin-left-mid">Send Feedback</a>
</div>
