::ng-deep {
  .custom-questionnaire {
    // remove round header
    .mat-step-header .mat-step-icon {
      background-color: transparent;
      color: #c4c4c4;
      font-size: 14px;
    }

    // stepper label
    .mat-step-text-label {
      font-style: italic;
      font-size: 12px;
      color: #c4c4c4;
    }
  }

  // remove horizontal line on the button
  .custom-questionnaire.mat-stepper-label-position-bottom
    .mat-horizontal-stepper-header:not(:first-child)::before,
  .custom-questionnaire[dir="rtl"]
    .mat-stepper-label-position-bottom
    .mat-horizontal-stepper-header:not(:last-child)::before,
  .custom-questionnaire.mat-stepper-label-position-bottom
    .mat-horizontal-stepper-header:not(:last-child)::after,
  .custom-questionnaire[dir="rtl"]
    .mat-stepper-label-position-bottom
    .mat-horizontal-stepper-header:not(:first-child)::after {
    width: 0px;
  }

  // remove second label padding
  .custom-questionnaire.mat-stepper-label-position-bottom
    .mat-horizontal-stepper-header
    .mat-step-label {
    padding: 0;
  }
}
