::ng-deep {
  .custom-questionnaire {
    // remove round header
    .mat-step-header .mat-step-icon {
      background-color: transparent;
      color: #c4c4c4;
      font-size: 14px;
    }

    // stepper label
    .mat-step-text-label {
      font-style: italic;
      font-size: 12px;
      color: #c4c4c4;
    }

    // header color changes on select
    .mat-step-icon-selected .mat-step-icon-content {
      color: #039be5;
    }

    // header color changes on done
    .mat-step-icon-state-done .mat-step-icon-content {
      color: #5bba47;
    }

    // horizontal line color changes : when step is done, next line color
    [ng-reflect-state="done"] + .mat-stepper-horizontal-line {
      border-top-color: #5bba47;
    }

    // horizontal line color changes: editing previous form shows number status
    // revisited step's horizontal line will be colored, and it will color the last line on load
    [ng-reflect-state="number"] + .mat-stepper-horizontal-line {
      border-top-color: #5bba47;
    }

    // horizontal line color changes: override previous step's last line back to grey
    [ng-reflect-state="edit"]
      ~ [ng-reflect-state="number"]
      + .mat-stepper-horizontal-line {
      border-top-color: #c4c4c4;
    }
  }

  // remove horizontal line on the button
  .custom-questionnaire.mat-stepper-label-position-bottom
    .mat-horizontal-stepper-header:not(:first-child)::before,
  .custom-questionnaire[dir="rtl"]
    .mat-stepper-label-position-bottom
    .mat-horizontal-stepper-header:not(:last-child)::before,
  .custom-questionnaire.mat-stepper-label-position-bottom
    .mat-horizontal-stepper-header:not(:last-child)::after,
  .custom-questionnaire[dir="rtl"]
    .mat-stepper-label-position-bottom
    .mat-horizontal-stepper-header:not(:first-child)::after {
    width: 0px;
  }

  // remove second label padding
  .custom-questionnaire.mat-stepper-label-position-bottom
    .mat-horizontal-stepper-header
    .mat-step-label {
    padding: 0;
  }
}
