.search-bar {
  background: #fafafa url(../../../assets/icons/search-button-inactive.png)
    right no-repeat;
  background-size: 19px;
  padding-right: 17px;
  //   width: 10px;
  //   height: 60px;
  //   margin-left: -25px;
  padding-top: 7px;
  padding-bottom: 7px;
}

// .search-icon {
//   width: 19px;
// }
