<div class="search-bar-container">
  <input
    type="search"
    value=""
    class="search-bar"
    placeholder="Search this site"
  />
</div>

<!-- <input
  type="search"
  matInput
  value=""
  class="search-bar"
  placeholder="Search this site"
/>
<img
  matSuffix
  class="search-icon"
  src="../../../assets/icons/search-button-inactive.png"
  alt=""
/> -->

<!-- <form class="example-form">
  <mat-form-field class="example-full-width">
    <input
      type="search"
      matInput
      value=""
      class="search-bar"
      placeholder="Search this site"
    />
    <img
      matSuffix
      class="search-icon"
      src="../../../assets/icons/search-button-inactive.png"
      alt=""
    /> -->
<!-- <input type="tel" matInput placeholder="Telephone">
      <mat-icon matSuffix>mode_edit</mat-icon> -->
<!-- </mat-form-field>
</form> -->
