// flexbox approach
.search-bar-container {
  // set up horizontal layout
  display: flex;
  flex-direction: row;
  background: white;
  border: 0.5px solid #c4c4c4;
  padding: 6px 10px;
  height: 33px;
}

.search-bar-container input {
  // input use all available space
  flex-grow: 2;
  border: none;
  background: white;
  font-size: 14px;
  // font-weight: 400;
  line-height: 16.41px;
  // font-family: "roboto", Arial, Helvetica, sans-serif;
}

.search-bar-container input:focus {
  // remove the input focus blue box
  outline: none;
}

.search-icon {
  width: 18px;
  height: 19px;
}

// consider onclick event on img instead of a tag
// .search-bar-container a {
//   //pointer-events: auto; // to make it unclickable
//   pointer-events: auto;
// }

.search-bar-container input:focus + .search-icon {
  content: url("../../../assets/icons/search-button-active.png");
}

/* clears the 'X' from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
