<mat-card [ngStyle]="getBackgroundColor()" class="card-container">
  <div class="row">
    <div class="col-9 title">{{ sectionSummary.title }}</div>
    <div class="col-3">
      <button mat-stroked-button color="primary" class="edit-btn">edit</button>
    </div>
  </div>

  <div class="row section" *ngFor="let section of sectionSummary.sections">
    <div class="col-12 sectionName" *ngIf="section.sectionName != ''">
      {{ section.sectionName }}
    </div>
    <div class="col-12">
      <div class="row" *ngFor="let field of section.fields">
        <div
          [ngClass]="calculateFieldPortion()"
          [ngStyle]="{
            fontWeight: section.sectionName == '' ? 'bold' : 'normal'
          }"
        >
          {{ field.fieldName }}
        </div>
        <div [ngClass]="calculateValuePortion()">{{ field.value }}</div>
      </div>
    </div>
  </div>
</mat-card>
