// @import "../../../scss/config";
.card-container {
  width: 100%;
  font-size: 14px;
  padding: 30px;

  .title {
    font-size: 20px;
    font-weight: 600;
  }

  .edit-btn {
    min-width: 40px;
    font-size: 12px;
    padding: 0px 3px;
    line-height: 26px;
  }

  .section {
    padding: 10px 0;

    .sectionName {
      font-weight: bold;
    }
  }
}
