<!-- with formControl - cannot set default selected value -->
<mat-form-field appearance="{{ appearance ? appearance : 'outline' }}">
  <mat-label>{{ label }}</mat-label>
  <mat-select
    [(value)]="selectedDefault"
    (selectionChange)="onSelectionChange($event)"
    *ngIf="!control"
  >
    <mat-option *ngFor="let option of options" [value]="option.value">
      {{ option.viewValue }}
    </mat-option>
  </mat-select>

  <mat-select
    [(value)]="selectedDefault"
    (selectionChange)="onSelectionChange($event)"
    [formControl]="control"
    *ngIf="control"
  >
    <mat-option *ngFor="let option of options" [value]="option.value">
      {{ option.viewValue }}
    </mat-option>
  </mat-select>
  <mat-error
    *ngIf="control?.hasError('required') && required ? required : false"
    >{{ errorMsg ? errorMsg : "Please select..." }}</mat-error
  >
</mat-form-field>
