<mat-form-field appearance="fill">
  <mat-label>{{ label }}</mat-label>
  <mat-select
    [(value)]="selected"
    (selectionChange)="onSelectionChange($event)"
    [formControl]="control"
  >
    <!-- disabled="{{ disabled ? disabled : false }}" -->
    <mat-option *ngFor="let option of options" [value]="option.value">
      {{ option.viewValue }}
    </mat-option>
  </mat-select>
  <mat-error
    *ngIf="control?.hasError('required') && required ? required : false"
    >{{ errorMsg ? errorMsg : "Please select..." }}</mat-error
  >
</mat-form-field>
<!-- <p>selected item: {{ selected }}</p> -->
