.main-contents {
  min-height: 92%;
  margin: 20px;
}

.footer {
  bottom: 0;
  width: 100%;
  position: sticky;
  z-index: 2;
}

// stepper styles
.stepper-container {
  width: 70%;
  margin: 0 auto;
}
