.footer {
  bottom: 0;
  width: 100%;
  position: sticky;
  z-index: 2;
}

// stepper styles
.stepper-container {
  width: 70%;
  margin: 0 auto;
}

// stepper number header
.mat-step-header > .mat-step-icon {
  height: 28px;
  width: 28px;
}

// .mat-step-header .mat-step-icon {
//   background-color: #c4c4c4;
// }

// stepper line
.mat-stepper-label-position-bottom .mat-horizontal-stepper-header::after,
.mat-stepper-label-position-bottom .mat-horizontal-stepper-header::before {
  top: 38px;
}

.mat-stepper-label-position-bottom .mat-stepper-horizontal-line {
  top: 38px;
}

// completed color changes
.mat-step-header > .mat-step-icon.mat-step-icon-state-done {
  background-color: #5bba47;
}

// stepper label
.mat-step-text-label {
  font-style: italic;
  font-size: 12px;
}

.mat-step-label-selected {
  font-weight: 400;
}

// .mat-horizontal-stepper-header-container
//   .mat-step-header
//   .mat-step-label.mat-step-label-active {
//   color: #039be5;
// }

// .mat-step-header .mat-step-label,
// .mat-step-header .mat-step-optional {
//   color: #c4c4c4;
// }
