<app-main-nav>
  <div style="margin: 25px">
    <button mat-raised-button color="accent">Check Custom Theme</button>
    <button mat-raised-button color="primary">Check Custom Theme</button>
    <button mat-raised-button color="warn">Check Custom Theme</button>
  </div>

  <div style="margin: 25px">
    <app-search-bar></app-search-bar>
  </div>

  <div style="margin: 25px">
    <app-single-line-list></app-single-line-list>
  </div>

  <div style="margin: 25px">
    <app-two-line-list></app-two-line-list>
  </div>

  <div style="margin: 25px">
    <app-single-line-avatar-selection-list></app-single-line-avatar-selection-list>
  </div>

  <app-footer class="footer"></app-footer>
</app-main-nav>
