<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav main-nav"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [opened]="false"
  >
    <!-- [mode]="(isHandset$ | async) ? 'over' : 'side'"
  [opened]="(isHandset$ | async) === false" -->
    <mat-toolbar color="primary">
      <!-- <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button> -->
      <img
        class="ohs-logo ohs-logo-toolbar"
        src="../../assets/logos/logo.png"
        alt="OHS Solutions logo"
      />
    </mat-toolbar>
    <app-nav-list></app-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <!-- *ngIf="isHandset$ | async" -->
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>
        <img
          class="ohs-logo ohs-logo-header"
          src="../../assets/logos/logo.png"
          alt="OHS Solutions logo"
        />
      </span>
      <span class="spacer"></span>
      <app-search-bar class="header-search-bar"></app-search-bar>
      <mat-list>
        <mat-list-item>
          <img
            matListAvatar
            src="../../assets/images/avatar.jpeg"
            alt="avatar picture"
          />
        </mat-list-item>
      </mat-list>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
