// Header styles
.spacer {
  flex: 1 1 auto;
}

.ohs-logo {
  width: 145px;
  height: 33.16px;
  margin-left: 12px;
}

.ohs-logo-header {
  margin-top: 9px;
}

.ohs-logo-toolbar {
  margin-top: 2px;
}

// Overwriting avatar size and position
.mat-list-base .mat-list-item .mat-list-avatar,
.mat-list-base .mat-list-option .mat-list-avatar {
  width: 33px;
  height: 33px;
  margin-top: -8px;
}

// Overwrite height of header
.mat-toolbar.mat-primary {
  height: 58px;
}

.header-search-bar {
  width: 405px;
  margin-right: 8px;
}

// SideNav styles
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 254px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 0.5px solid rgba(245, 245, 245, 0.5);
}

.nav-list-title {
  margin: 0px 24px;
}

@media (max-width: 1000px) {
  .header-search-bar {
    display: none;
  }
}

@media (max-width: 768px) {
  .sidenav {
    width: 222px;
  }

  .ohs-logo {
    width: 136px;
    margin-left: 2px;
  }
}
