mat-form-field,
app-dropdown,
mat-slide-toggle {
  width: 300px;
}

.button-container {
  width: 300px;
  padding: 30px 5px 0 5px;
  display: flex;
  justify-content: space-between;
}

.section-title {
  padding: 10px;
  text-align: left;
}

.dropdown-label-out {
  width: 300px;
  display: flex;
  flex-direction: row;
  height: 41px;

  .number-dropdown {
    width: 38px;
  }
}

.section-container {
  //   border: 1px solid green;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  .stepper-title {
    margin: 0 0 0 20px;
  }
  .summary-block {
    display: flex;
    float: left;
    margin: 20px;
    width: 30%;
    min-width: 250px;
  }
}


::ng-deep {
  .custom-step-progress-bar {
    .mat-horizontal-stepper-header-container {
      max-width: 500px;
      margin: auto;
    }

    // stepper number header
    .mat-step-header > .mat-step-icon {
      height: 28px;
      width: 28px;
    }

    // stepper number header default color
    .mat-step-header .mat-step-icon {
      background-color: #c4c4c4;
    }

    // stepper number header active
    .mat-step-header .mat-step-icon-selected,
    .mat-step-header .mat-step-icon-state-done,
    .mat-step-header .mat-step-icon-state-edit {
      background-color: #039be5;
      color: white;
    }

    // completed color changes
    .mat-step-header > .mat-step-icon.mat-step-icon-state-done {
      background-color: #5bba47;
    }

    // stepper line
    .mat-stepper-label-position-bottom .mat-horizontal-stepper-header::after,
    .mat-stepper-label-position-bottom .mat-horizontal-stepper-header::before {
      top: 38px;
    }

    .mat-stepper-label-position-bottom .mat-stepper-horizontal-line {
      top: 38px;
    }

    // stepper label
    .mat-step-text-label {
      font-style: italic;
      font-size: 12px;
      // color: #c4c4c4;
    }

    // color changes for the active stepper label
    .mat-step-header .mat-step-label.mat-step-label-active {
      color: #039be5;
    }

    // color changes for the done stepper label
    .mat-step-header
      > .mat-step-icon.mat-step-icon-state-done
      + .mat-step-label.mat-step-label-active
      > .mat-step-text-label.ng-star-inserted {
      color: #5bba47;
    }

    .mat-step-label-selected {
      font-weight: 400;
    }

    // stepper line default color
    .mat-stepper-horizontal-line,
    .mat-horizontal-stepper-header::after,
    .mat-horizontal-stepper-header::before {
      border-top-color: #c4c4c4;
    }

    // color changes for the done stepper line
    [ng-reflect-state="done"] + .mat-stepper-horizontal-line,
    [ng-reflect-state="done"].mat-horizontal-stepper-header::after,
    [ng-reflect-state="done"].mat-horizontal-stepper-header::before,
    [ng-reflect-state="edit"].mat-horizontal-stepper-header::before {
      border-top-color: #5bba47;
    }

    // color changes for the  (done)-("-"number"-")"-"(done) : ""color
    [ng-reflect-state="done"]
      ~ [ng-reflect-state="number"].mat-horizontal-stepper-header::before,
    [ng-reflect-state="done"]
      ~ [ng-reflect-state="number"].mat-horizontal-stepper-header::after,
    [ng-reflect-state="done"]
      ~ [ng-reflect-state="number"]
      + .mat-stepper-horizontal-line {
      border-top-color: #5bba47;
    }

    // color changes for the  (done)-(edit)-("-"number) : ""color
    [ng-reflect-state="edit"]
      ~ [ng-reflect-state="number"].mat-horizontal-stepper-header::before {
      border-top-color: #c4c4c4;
    }

    // color changes for the  (number"-")"-"(done)-(done) : ""color
    [ng-reflect-state="number"].mat-horizontal-stepper-header::after,
    [ng-reflect-state="number"] + .mat-stepper-horizontal-line {
      border-top-color: #5bba47;
    }

    // color changes for the  (edit)-(number"-")"-"("-"number) : ""color
    [ng-reflect-state="edit"]
      ~ [ng-reflect-state="number"].mat-horizontal-stepper-header::after,
    [ng-reflect-state="edit"]
      ~ [ng-reflect-state="number"]
      + .mat-stepper-horizontal-line,
    [ng-reflect-state="edit"]
      ~ [ng-reflect-state="number"]
      ~ [ng-reflect-state="number"].mat-horizontal-stepper-header::before {
      border-top-color: #c4c4c4;
    }

    // color changes for the (number-)-("-"number)-(number)
    [ng-reflect-state="number"]
      ~ [ng-reflect-state="number"].mat-horizontal-stepper-header::before {
      border-top-color: #5bba47;
    }

    // color changes for the (number)-(number"-")"-"("-"number)
    [ng-reflect-state="number"]
      ~ [ng-reflect-state="number"].mat-horizontal-stepper-header::after,
    [ng-reflect-state="number"]
      ~ [ng-reflect-state="number"]
      + .mat-stepper-horizontal-line,
    [ng-reflect-state="number"]
      ~ [ng-reflect-state="number"]
      ~ [ng-reflect-state="number"].mat-horizontal-stepper-header::before {
      border-top-color: #c4c4c4;
    }
  }
}
