<mat-horizontal-stepper
  #stepper
  linear="true"
  disableRipple="true"
  labelPosition="bottom"
  class="custom-step-progress-bar"
>
  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
    <form
      [formGroup]="firstFormGroup"
      fxLayout="column"
      fxLayoutAlign="center center"
      #firstForm="ngForm"
      (ngSubmit)="onFirstFormSubmit()"
    >
      <ng-template matStepLabel>Committee information &nbsp;</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Committee name</mat-label>
        <input
          matInput
          formControlName="committeeNameCtrl"
          placeholder="Committee name"
        />
      </mat-form-field>

      <app-dropdown
        label="Operating health authority"
        [options]="healthAuthorities"
        [control]="firstFormGroup.get('operatingHACtrl')"
        required="true"
        errorMsg="Please select an operation health authority"
      >
      </app-dropdown>

      <app-dropdown
        label="Hosting health authority"
        [options]="healthAuthorities"
        [control]="firstFormGroup.get('hostingHACtrl')"
        required="true"
        errorMsg="Please select a hosting health authority"
      >
      </app-dropdown>

      <app-dropdown
        label="Base location of committee"
        [options]="committeeLocation"
        [control]="firstFormGroup.get('locationCtrl')"
        required="true"
        errorMsg="Please select a base location of committee"
      >
      </app-dropdown>

      <mat-form-field appearance="fill">
        <mat-label>Notes</mat-label>
        <textarea
          matInput
          cols="30"
          rows="10"
          formControlName="noteCtrl"
          placeholder="Notes"
          required
          minlength="10"
          #noteInput
        ></textarea>
        <mat-hint align="end">{{ noteInput.value?.length }} / 10</mat-hint>
      </mat-form-field>

      <mat-slide-toggle
        labelPosition="before"
        color="primary"
        formControlName="multiEmployerCtrl"
      >
        Multi-employer
      </mat-slide-toggle>
      <div class="button-container">
        <button mat-button color="primary" (click)="stepper.reset()">
          Cancel
        </button>
        <button mat-flat-button color="primary">Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
    <form
      [formGroup]="secondFormGroup"
      fxLayout="column"
      fxLayoutAlign="center center"
      #secondForm="ngForm"
      (ngSubmit)="onSecondFormSubmit()"
    >
      <ng-template matStepLabel>Terms of Reference &nbsp;</ng-template>

      <p class="section-title">Quorum</p>
      <app-dropdown
        label="Minimum # of attendees"
        [options]="numbers"
        [control]="secondFormGroup.get('attendeeNumCtrl')"
        required="true"
        errorMsg="Please select a minimum number of attendees"
      >
      </app-dropdown>
      <app-dropdown
        label="Minimum # of employers"
        [options]="numbers"
        [control]="secondFormGroup.get('employerNumCtrl')"
        required="true"
        errorMsg="Please select a minimum number of employers"
      >
      </app-dropdown>
      <app-dropdown
        label="Minimum # of employees"
        [options]="numbers"
        [control]="secondFormGroup.get('employeeNumCtrl')"
        required="true"
        errorMsg="Please select a minimum number of employees"
      >
      </app-dropdown>

      <p class="section-title">Representation structure</p>
      <app-dropdown
        label="Fraser Health Authority"
        [options]="numbers"
        [control]="secondFormGroup.get('fraserHealthCtrl')"
        required="true"
        errorMsg="Please select representation structure"
      >
      </app-dropdown>
      <app-dropdown
        label="Hospital Employees’ Union"
        [options]="numbers"
        [control]="secondFormGroup.get('hospitalUnionCtrl')"
        required="true"
        errorMsg="Please select representation structure"
      >
      </app-dropdown>
      <app-dropdown
        label="BC Nurses’ Union"
        [options]="numbers"
        [control]="secondFormGroup.get('nurseUnionCtrl')"
        required="true"
        errorMsg="Please select representation structure"
      >
      </app-dropdown>
      <app-dropdown
        label="BC Government and Service Employees' Union"
        [options]="numbers"
        [control]="secondFormGroup.get('govServiceUnionCtrl')"
        required="true"
        errorMsg="Please select representation structure"
      >
      </app-dropdown>

      <div class="button-container">
        <button mat-button color="primary" (click)="stepper.reset()">
          Cancel
        </button>
        <button mat-flat-button color="primary">Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step
    [stepControl]="thirdFormGroup"
    [completed]="lastCompleted"
    [state]="lastState"
  >
    <ng-template matStepLabel>Identify co-chairs &nbsp;</ng-template>
    <form
      [formGroup]="thirdFormGroup"
      fxLayout="column"
      fxLayoutAlign="center center"
      #thirdForm="ngForm"
      *ngIf="lastFormOn"
      (ngSubmit)="onThirdFormSubmit()"
    >
      <mat-form-field appearance="fill">
        <mat-label>Employer co-chair</mat-label>
        <input
          matInput
          formControlName="employerCoChairCtrl"
          placeholder="Employer co-chair"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Employer co-chair’s email address</mat-label>
        <input
          matInput
          formControlName="employerCoChairEmailCtrl"
          placeholder="Employer co-chair’s email address"
          email
          #employerEmailInput
        />
        <mat-error *ngIf="employerEmailInput.value?.length === 0">
          Field must not be empty.
        </mat-error>
        <mat-error *ngIf="employerEmailInput.value?.length != 0">
          E-mail is invalid.
        </mat-error>
      </mat-form-field>

      <app-dropdown
        label="Represents"
        [options]="healthAuthorities"
        [control]="thirdFormGroup.get('employerCoChairRepresentCtrl')"
        required="true"
        errorMsg="Please select a health authority"
      >
      </app-dropdown>

      <mat-form-field appearance="fill">
        <mat-label>Employee co-chair</mat-label>
        <input
          matInput
          formControlName="employeeCoChairCtrl"
          placeholder="Employee co-chair"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Employee co-chair’s email address</mat-label>
        <input
          matInput
          formControlName="employeeCoChairEmailCtrl"
          placeholder="Employee co-chair’s email address"
          email
          #employeeEmailInput
        />
        <mat-error *ngIf="employeeEmailInput.value?.length === 0">
          Field must not be empty.
        </mat-error>
        <mat-error *ngIf="employeeEmailInput.value?.length != 0">
          E-mail is invalid.
        </mat-error>
      </mat-form-field>

      <app-dropdown
        label="Represents"
        [options]="healthAuthorities"
        [control]="thirdFormGroup.get('employeeCoChairRepresentCtrl')"
        errorMsg="Please select a health authority"
      >
      </app-dropdown>

      <div class="button-container">
        <button mat-button color="primary" (click)="stepper.reset()">
          Cancel
        </button>
        <button mat-flat-button color="primary">Review ></button>
      </div>
    </form>

    <div *ngIf="summaryOn">
      <app-section-summary
        [sectionSummaries]="formSectionInfo"
      ></app-section-summary>
    </div>
  </mat-step>
</mat-horizontal-stepper>

<!-- More examples -->
<!-- <mat-form-field hintLabel="Should not be empty">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          formControlName="lastNameCtrl"
          placeholder="Last name"
          required
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="emailCtrl"
          placeholder="Email"
          required
          email
          #emailInput
        />
        <mat-error *ngIf="emailInput.value?.length === 0">
          Field must not be empty.
        </mat-error>
        <mat-error *ngIf="emailInput.value?.length != 0">
          E-mail is invalid.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Appointment date</mat-label>
        <input
          matInput
          placeholder="Your Appointment date"
          [matDatepicker]="picker"
          [min]="minDate"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Birth date</mat-label>
        <input
          matInput
          placeholder="your birth date"
          [matDatepicker]="birthPicker"
          [max]="maxDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="birthPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #birthPicker></mat-datepicker>
        <mat-hint>Age should be bigger than 18</mat-hint>
      </mat-form-field> -->
