.dialog-header-w-button {
    display: flex;
    justify-content: space-between;
}

.close-button{
    width: 26px;
    height: 26px;
    line-height: 25px;
}

.close-icon {
    font-size: 20px;
    color: #00000099;
}

// button styles override
.warn-stroked-button {
    color: #C30C0D;
    border: 1px solid #C30C0D;
}
.warn-raised-button {
   background-color: #C30C0D;
   color: white;
}