@import '../../../../scss/config';

.mat-dialog-title {
    h2 {
        margin-left: 10.5px;
    }
}

.dialog-header-w-button {
    display: flex;
    justify-content: space-between;
}

.close-button{
    width: 26px;
    height: 26px;
    line-height: 25px;
}

.warning-icon{
    color: $ohs-theme-caution;
}

.close-icon {
    font-size: 20px;
    color: #00000099;
}

// button styles override
.warn-stroked-button {
    color: $ohs-theme-caution;
    border: 1px solid $ohs-theme-caution;
}
.warn-raised-button {
   background-color: $ohs-theme-caution;
   color: white;
}