<h1>Lists</h1>
<div style="width: 30%;">
    <h2>Single line list</h2>
  <app-single-line-list></app-single-line-list>
</div>

<div style="width: 30%;">
    <h2>Single line list + avatar</h2>
  <app-single-line-avatar-selection-list></app-single-line-avatar-selection-list>
</div>

<div style="width: 30%;">
    <h2>Two line list</h2>
  <app-two-line-list></app-two-line-list>
</div>

<div style="width: 30%;">
    <h2>Two line list + avatar</h2>
  <app-two-line-avatar-selection-list></app-two-line-avatar-selection-list>
</div>