<div style="margin: 25px">
    <button mat-raised-button color="accent">Check Custom Theme</button>
    <button mat-raised-button color="primary">Check Custom Theme</button>
    <button mat-raised-button color="warn">Check Custom Theme</button>
  </div>

  <div style="margin: 25px">
    <app-search-bar></app-search-bar>
  </div>

  <div style="margin: 25px">
    <app-single-line-list></app-single-line-list>
  </div>

  <div style="margin: 25px">
    <app-two-line-list></app-two-line-list>
  </div>

  <div style="margin: 25px">
    <app-single-line-avatar-selection-list></app-single-line-avatar-selection-list>
  </div>

  <div style="margin: 25px">
    <app-two-line-avatar-selection-list></app-two-line-avatar-selection-list>
  </div>

  <div style="margin: 25px">
    <p>Checkbox</p>
    <mat-checkbox color="primary" disabled checked="true">hello</mat-checkbox>
    <br />
    <mat-checkbox color="primary">hello</mat-checkbox>
  </div>

  <div style="margin: 25px">
    <p>Radio Buttons</p>
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button color="primary" value="1">Option 1</mat-radio-button>
      <br />
      <mat-radio-button color="primary" value="2">Option 2</mat-radio-button>
      <br />
      <mat-radio-button checked="true" disabled color="primary" value="3"
        >Option 3</mat-radio-button
      >
    </mat-radio-group>
  </div>

  <div style="margin: 25px">
    <p>Slide Toggle</p>
    <mat-slide-toggle color="primary" color="primary">
      Enabled Off
    </mat-slide-toggle>
    &nbsp;
    <mat-slide-toggle disabled="true" color="primary" color="primary">
      Disabled Off
    </mat-slide-toggle>
    <br />
    <mat-slide-toggle checked="true" color="primary" color="primary">
      Enabled On
    </mat-slide-toggle>
    &nbsp;
    <mat-slide-toggle
      disabled="true"
      checked="true"
      color="primary"
      color="primary"
    >
      Disabled Off
    </mat-slide-toggle>
  </div>

  <div style="margin: 25px">
    <app-dropdown
      [options]="[
        { value: 'option1', viewValue: 'o1' },
        { value: 'option2', viewValue: 'o2' },
        { value: 'option3', viewValue: 'o3' }
      ]"
    ></app-dropdown>
  </div>
  <!-- [{value: 'option1', viewValue:'o1'}, {value: 'option2', viewValue:'o2'}, {value: 'option3', viewValue:'o3'}] -->

  <div style="margin: 25px">
    <app-datepicker></app-datepicker>
  </div>

  <div style="margin: 25px">
    <p>Text Field</p>
    <form class="example-form">
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi" />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
      </mat-form-field>
    </form>
  </div>

  <div style="margin: 25px">
    <p>Tooltip</p>
    <p>
      I have received my influenza vaccine
      <mat-icon
        inline="true"
        matTooltip="Select this to certify that you have, indeed, received your influenza vaccine this season"
        [matTooltipPosition]="'after'"
        matTooltipClass="tooltip"
        >info_outline
      </mat-icon>
    </p>
  </div>

  <div style="margin: 25px">
    <p>Determinate Progress Bar</p>
    <mat-progress-bar
      color="accent"
      mode="determinate"
      value="40"
    ></mat-progress-bar>
    <br />
    <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
  </div>

  <div style="margin: 25px">
    <app-paginator></app-paginator>
  </div>

  <div style="margin: 25px">
    <p>Step Progress Bar</p>
    <div class="stepper-container">
      <app-step-progress-bar></app-step-progress-bar>
    </div>
  </div>

  <div style="margin: 25px">
    <p>Questionnaire progress bar</p>
    <div class="stepper-container">
      <app-questionnaire-progress-bar></app-questionnaire-progress-bar>
    </div>
  </div>
