<div class="employer-dashboard container-fluid">
  <div class="row">
    <div class="col-3">
      <mat-card class="chart-card">
        <mat-card-header class="header-card">
          <mat-card-title>My Action Items Due within 7 Days</mat-card-title>
          <a href="/">More</a>
        </mat-card-header>

        <mat-card-content
          *ngIf="actionItemsDueWeek.length != 0"
          class="chart-card-contents"
        >
          <app-doughnut-chart
            [chartLabels]="doughnutChartLabels"
            [chartData]="weekChartData"
            [chartType]="doughnutChartType"
            class="full-width"
          >
          </app-doughnut-chart>
        </mat-card-content>

        <mat-card-content
          class="card-contents-centre"
          *ngIf="actionItemsDueWeek.length == 0"
        >
          <p class="no-data-message">No data available</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-3">
      <mat-card class="chart-card">
        <mat-card-header class="header-card">
          <mat-card-title>My Action Items Due Today</mat-card-title>
          <a href="/">More</a>
        </mat-card-header>
        <mat-card-content
          *ngIf="actionItemsDueToday.length != 0"
          class="chart-card-contents"
        >
          <app-doughnut-chart
            [chartLabels]="doughnutChartLabels"
            [chartData]="todayChartData"
            [chartType]="doughnutChartType"
            class="full-width"
          >
          </app-doughnut-chart>
        </mat-card-content>

        <mat-card-content
          *ngIf="actionItemsDueToday.length == 0"
          class="card-contents-centre"
        >
          <p class="no-data-message">No data available</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-6">
      <app-meetings-panel></app-meetings-panel>
    </div>
  </div>

  <div class="row">
    <div class="col-10">
      <div class="row">
        <div class="col-5">
          <mat-card>
            <p>Ongoing workplace injury process</p>
          </mat-card>
        </div>
        <div class="col-4">
          <mat-card>
            <p>work bc claim</p>
          </mat-card>
        </div>
        <div class="col-3">
          <mat-card>
            <p>Incident investigations tab (incomplete, overdue, submitted)</p>
          </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <mat-card>
            <p>My overdue action items</p>
          </mat-card>
        </div>
        <div class="col-6">
          <mat-card>
            <p>My upcoming deadlines</p>
          </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <mat-card>
            <p>Overdue action items</p>
          </mat-card>
        </div>
        <div class="col-6">
          <mat-card>
            <p>Upcoming deadlines</p>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="row">
        <mat-card>
          <p>Inbox area</p>
        </mat-card>
      </div>
      <div class="row">
        <mat-card>
          <p>Number of incident by month (line chart)</p>
        </mat-card>
      </div>
      <div class="row">
        <mat-card>
          <p>Employee Vacation List</p>
        </mat-card>
      </div>
    </div>
  </div>
</div>
