<div class="employer-dashboard container-fluid">
  <div class="row">
    <div class="col-3">
      <mat-card class="chart-card">
        <mat-card-header class="header-card">
          <mat-card-title>My Action Items Due within 7 Days</mat-card-title>
          <a href="/">More</a>
        </mat-card-header>

        <mat-card-content
          *ngIf="actionItemsDueWeek.length != 0"
          class="chart-card-contents"
        >
          <app-doughnut-chart
            [chartLabels]="doughnutChartLabels"
            [chartData]="weekChartData"
            [chartType]="doughnutChartType"
            class="full-width"
          >
          </app-doughnut-chart>
        </mat-card-content>

        <mat-card-content
          class="card-contents-centre"
          *ngIf="actionItemsDueWeek.length == 0"
        >
          <p class="no-data-message">No data available</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-3">
      <mat-card class="chart-card">
        <mat-card-header class="header-card">
          <mat-card-title>My Action Items Due Today</mat-card-title>
          <a href="/">More</a>
        </mat-card-header>
        <mat-card-content
          *ngIf="actionItemsDueToday.length != 0"
          class="chart-card-contents"
        >
          <app-doughnut-chart
            [chartLabels]="doughnutChartLabels"
            [chartData]="todayChartData"
            [chartType]="doughnutChartType"
            class="full-width"
          >
          </app-doughnut-chart>
        </mat-card-content>

        <mat-card-content
          *ngIf="actionItemsDueToday.length == 0"
          class="card-contents-centre"
        >
          <p class="no-data-message">No data available</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-6">
      <app-meetings-panel [user]="user"></app-meetings-panel>
    </div>
  </div>

  <div class="row">
    <div class="col-10">
      <div class="row">
        <div class="col-5">
          <!-- Ongoing workplace injury process -->
          <app-stepper-panel
            class="container"
            title="Workplace Injury Report Process"
            [steps]="workInjuryReportSteps"
            [reportList]="reportsList"
          ></app-stepper-panel>
        </div>
        <div class="col-4">
          <!-- work bc claim -->
          <app-stepper-panel
            class="container"
            title="Work BC Claim Status"
            [steps]="workBCClaimSteps"
            [reportList]="workBCClaimList"
          ></app-stepper-panel>
        </div>
        <div class="col-3">
          <mat-card>
            <p>Incident investigations tab (incomplete, overdue, submitted)</p>
          </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <mat-card class="table-card">
            <!-- My Overdue table -->
            <mat-card-header class="header-card">
              <mat-card-title>My Overdue Action Items</mat-card-title>
              <a href="/">More</a>
            </mat-card-header>
            <mat-card-content *ngIf="myActionItemsOverdue?.length > 0">
              <div class="table">
                <mat-table [dataSource]="myOverdueDS" #table>
                  <ng-container matColumnDef="action-title">
                    <mat-header-cell *matHeaderCellDef class="wider-cell">
                      Action item
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="wider-cell">
                      <span class="clickable-link">
                        {{ element.actionItemTitle }}
                      </span>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="due">
                    <mat-header-cell *matHeaderCellDef>Due</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{
                      getDateFormat(element.due)
                    }}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="priority">
                    <mat-header-cell *matHeaderCellDef
                      >Priority</mat-header-cell
                    >
                    <mat-cell *matCellDef="let element">{{
                      element.priority
                    }}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{
                      element.status
                    }}</mat-cell>
                  </ng-container>

                  <mat-header-row
                    *matHeaderRowDef="myDisplayedColumns"
                  ></mat-header-row>
                  <mat-row
                    mat-row
                    *matRowDef="let row; columns: myDisplayedColumns"
                  ></mat-row>
                </mat-table>

                <mat-paginator
                  #myOverduePaginator
                  appPaginatorStyle
                  [pageSize]="5"
                  showFirstLastButtons
                >
                </mat-paginator>
              </div>
            </mat-card-content>
            <mat-card-content
              *ngIf="myActionItemsOverdue?.length == 0"
              class="card-contents-centre"
            >
              <p class="no-data-message">There is no overdue action items</p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-6">
          <!-- My upcoming deadlines table -->
          <mat-card class="table-card margin-top">
            <mat-card-header class="header-card">
              <mat-card-title>My Upcoming Deadlines</mat-card-title>
              <a href="/">More</a>
            </mat-card-header>
            <mat-card-content *ngIf="myActionItemsUpcomingDeadline?.length > 0">
              <div class="table">
                <mat-table [dataSource]="myUpcomingDeadlineDS" #table>
                  <ng-container matColumnDef="action-title">
                    <mat-header-cell *matHeaderCellDef class="wider-cell">
                      Action item
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="wider-cell">
                      <span class="clickable-link">
                        {{ element.actionItemTitle }}
                      </span>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="due">
                    <mat-header-cell *matHeaderCellDef>Due</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{
                      getDateFormat(element.due)
                    }}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="priority">
                    <mat-header-cell *matHeaderCellDef
                      >Priority</mat-header-cell
                    >
                    <mat-cell *matCellDef="let element">{{
                      element.priority
                    }}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{
                      element.status
                    }}</mat-cell>
                  </ng-container>

                  <mat-header-row
                    *matHeaderRowDef="myDisplayedColumns"
                  ></mat-header-row>
                  <mat-row
                    mat-row
                    *matRowDef="let row; columns: myDisplayedColumns"
                  ></mat-row>
                </mat-table>

                <mat-paginator
                  #myUpcomingPaginator
                  appPaginatorStyle
                  [pageSize]="5"
                  showFirstLastButtons
                >
                </mat-paginator>
              </div>
            </mat-card-content>
            <mat-card-content
              *ngIf="myActionItemsUpcomingDeadline?.length == 0"
              class="card-contents-centre"
            >
              <p class="no-data-message">There is no upcoming deadlines</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <mat-card class="table-card">
            <!-- Overdue table -->
            <mat-card-header class="header-card">
              <mat-card-title>Overdue Action Items</mat-card-title>
              <a href="/">More</a>
            </mat-card-header>
            <mat-card-content *ngIf="actionItemsOverdue?.length > 0">
              <div class="table">
                <mat-table [dataSource]="overdueDS" #table>
                  <ng-container matColumnDef="action-title">
                    <mat-header-cell *matHeaderCellDef class="wider-cell">
                      Action item
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="wider-cell">
                      <span class="clickable-link">
                        {{ element.actionItemTitle }}
                      </span>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="due">
                    <mat-header-cell *matHeaderCellDef>Due</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{
                      getDateFormat(element.due)
                    }}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="priority">
                    <mat-header-cell *matHeaderCellDef
                      >Priority</mat-header-cell
                    >
                    <mat-cell *matCellDef="let element">{{
                      element.priority
                    }}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="assigned-to">
                    <mat-header-cell *matHeaderCellDef
                      >Assigned To</mat-header-cell
                    >
                    <mat-cell *matCellDef="let element">{{
                      element.assignedTo
                    }}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{
                      element.status
                    }}</mat-cell>
                  </ng-container>

                  <mat-header-row
                    *matHeaderRowDef="displayedColumns"
                  ></mat-header-row>
                  <mat-row
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                  ></mat-row>
                </mat-table>

                <mat-paginator
                  #overduePaginator
                  appPaginatorStyle
                  [pageSize]="5"
                  showFirstLastButtons
                >
                </mat-paginator>
              </div>
            </mat-card-content>
            <mat-card-content
              *ngIf="actionItemsOverdue?.length == 0"
              class="card-contents-centre"
            >
              <p class="no-data-message">There is no overdue action items</p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-6">
          <!-- upcoming deadlines table -->
          <mat-card class="table-card margin-top">
            <mat-card-header class="header-card">
              <mat-card-title>Upcoming Deadlines</mat-card-title>
              <a href="/">More</a>
            </mat-card-header>
            <mat-card-content *ngIf="actionItemsUpcomingDeadline?.length > 0">
              <div class="table">
                <mat-table [dataSource]="upcomingDeadlineDS" #table>
                  <ng-container matColumnDef="action-title">
                    <mat-header-cell *matHeaderCellDef class="wider-cell">
                      Action item
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="wider-cell">
                      <span class="clickable-link">
                        {{ element.actionItemTitle }}
                      </span>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="due">
                    <mat-header-cell *matHeaderCellDef>Due</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{
                      getDateFormat(element.due)
                    }}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="priority">
                    <mat-header-cell *matHeaderCellDef
                      >Priority</mat-header-cell
                    >
                    <mat-cell *matCellDef="let element">{{
                      element.priority
                    }}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="assigned-to">
                    <mat-header-cell *matHeaderCellDef
                      >Assigned To</mat-header-cell
                    >
                    <mat-cell *matCellDef="let element">{{
                      element.assignedTo
                    }}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{
                      element.status
                    }}</mat-cell>
                  </ng-container>

                  <mat-header-row
                    *matHeaderRowDef="displayedColumns"
                  ></mat-header-row>
                  <mat-row
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                  ></mat-row>
                </mat-table>

                <mat-paginator
                  #upcomingPaginator
                  appPaginatorStyle
                  [pageSize]="5"
                  showFirstLastButtons
                >
                </mat-paginator>
              </div>
            </mat-card-content>
            <mat-card-content
              *ngIf="actionItemsUpcomingDeadline?.length == 0"
              class="card-contents-centre"
            >
              <p class="no-data-message">There is no upcoming deadlines</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="row">
        <app-inbox-panel class="inbox"></app-inbox-panel>
      </div>
      <div class="row">
        <mat-card>
          <p>Number of incident by month (line chart)</p>
        </mat-card>
      </div>
      <div class="row">
        <mat-card>
          <p>Employee Vacation List</p>
        </mat-card>
      </div>
    </div>
  </div>
</div>
