// angular material theme ref: https://youtu.be/99T-zQLcluM
@import "~@angular/material/theming";
@include mat-core(); // provide base styling for angular material
@import "./app/components/main-nav/main-nav.component.scss-theme.scss";

// major color palettes
$md-primarypalette: (
  50: #e1f3fc,
  100: #b3e1f7,
  200: #81cdf2,
  300: #4fb9ed,
  400: #29aae9,
  500: #039be5,
  600: #0393e2,
  700: #0289de,
  800: #027fda,
  900: #016dd3,
  A100: #fbfdff,
  A200: #c8e1ff,
  A400: #95c5ff,
  A700: #7bb8ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-accentpalette: (
  50: #eff6e8,
  100: #d8e8c6,
  200: #bed9a1,
  300: #a3ca7b,
  400: #90be5e,
  500: #7cb342,
  600: #74ac3c,
  700: #69a333,
  800: #5f9a2b,
  900: #4c8b1d,
  A100: #dcffc5,
  A200: #bdff92,
  A400: #9fff5f,
  A700: #8fff46,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-accent2palette: (
  50: #ebf7e9,
  100: #ceeac8,
  200: #addda3,
  300: #8ccf7e,
  400: #74c463,
  500: #5bba47,
  600: #53b340,
  700: #49ab37,
  800: #40a32f,
  900: #2f9420,
  A100: #d5ffcf,
  A200: #a7ff9c,
  A400: #7aff69,
  A700: #63ff50,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-warnpalette: (
  50: #fff1e6,
  100: #ffddc1,
  200: #ffc698,
  300: #ffaf6e,
  400: #ff9e4f,
  500: #ff8d30,
  600: #ff852b,
  700: #ff7a24,
  800: #ff701e,
  900: #ff5d13,
  A100: #ffffff,
  A200: #fffbfa,
  A400: #ffd6c7,
  A700: #ffc4ad,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// Background palette for light themes.
$mat-light-theme-background: (
  status-bar: map-get($mat-grey, 300),
  app-bar: map-get($mat-grey, 100),
  background: map-get($mat-grey, 50),
  hover: rgba(black, 0.04),
  // TODO(kara): check style with Material Design UX
  card: white,
  dialog: white,
  disabled-button: rgba(black, 0.12),
  raised-button: white,
  focused-button: $dark-focused,
  selected-button: map-get($mat-grey, 300),
  selected-disabled-button: map-get($mat-grey, 400),
  disabled-button-toggle: map-get($mat-grey, 200),
  unselected-chip: map-get($mat-grey, 300),
  disabled-list-option: map-get($mat-grey, 200),
  tooltip: rgba(253, 253, 253) //map-get($mat-grey, 700),,,,,,,,,,
);

$ohs-theme-primary: mat-palette($md-primarypalette); //600
$ohs-theme-accent: mat-palette($md-accentpalette); //600
$ohs-theme-warn: mat-palette($md-warnpalette); //900
$background-color: rgba(255, 255, 255);

$ohs-theme: mat-light-theme(
  $ohs-theme-primary,
  $ohs-theme-accent,
  $ohs-theme-warn
);

// Insert custom background color
$background: map-get($ohs-theme, background);
$background: map_merge(
  $background,
  (
    background: $background-color,
  )
);

$ohs-theme: map_merge(
  $ohs-theme,
  (
    background: $background,
  )
);

@include angular-material-theme($ohs-theme);
@include main-nav-component-theme($ohs-theme);
