/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
* {
  box-sizing: border-box;
}

// overriding styles in angular material ref: https://material.angular.io/guide/customizing-component-styles
// check box disabled style
.mat-checkbox-disabled.mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-disabled.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: rgba(3, 155, 229, 0.5);
}

.mat-checkbox-disabled .mat-checkbox-frame {
  border-color: rgba(0, 0, 0, -0.46);
}

// radio button disabled style
.mat-radio-button.mat-radio-disabled.mat-radio-checked .mat-radio-outer-circle,
.mat-radio-button.mat-radio-disabled .mat-radio-outer-circle {
  border-color: rgba(3, 155, 229, 0.5);
}

.mat-radio-button.mat-radio-disabled .mat-radio-ripple .mat-ripple-element,
.mat-radio-button.mat-radio-disabled .mat-radio-inner-circle {
  background-color: rgba(3, 155, 229, 0.5);
}

// tooltip style
.mat-tooltip.tooltip {
  background-color: #fdfdfd;
  padding: 10px 15px;
  color: #858585;
  font-size: 14px;
  border: 0.25px solid #b6b6b6bd;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
