// main colors
$ohs-theme-primary: #039be5;
$ohs-theme-accent: #7cb342;
$ohs-theme-warn: #ff8d30;
$background-color: #ffffff;

// other colors
$ohs-circle-blue: #08589d;
$ohs-french-blue: #0277bd;
$ohs-azure-x-web-color: #e1f5fe;
$ohs-yellow-green-crayola: #aed581;
$ohs-ivory: #f1f8e9;
$ohs-theme-caution: #C30C0D;


$ohs-theme-primary-light50: rgba(3, 155, 229, 0.5);
$ohs-theme-primary-hover: #e1f5fe;
$ohs-theme-grey: #c4c4c4;
$ohs-theme-grey-text: #858585;
