$ohs-theme-primary: #039BE5;
$ohs-theme-accent: #7CB342;
$ohs-theme-warn: #FF8D30;
$background-color: #FFFFFF;

$ohs-theme-primary-light50: rgba(3,155,229,0.5);
$ohs-theme-primary-hover: #e1f5fe;
$ohs-theme-grey: #C4C4C4;




