<div style="margin: 20px 0">
  <app-search-bar></app-search-bar>
</div>

<div style="margin: 25px auto; width: 23%">
  <app-summary-block
    [sectionSummary]="termsOfRef"
    [fieldPortion]="11"
    [bgColor]="'lavender'"
  >
  </app-summary-block>
</div>

<div style="margin: 25px auto; width: 23%">
  <app-summary-block
    [sectionSummary]="committeeInfo"
    [fieldPortion]="committeeInfo.styles.fieldUIPortion"
    [bgColor]="committeeInfo.styles.backgroundColor"
  >
  </app-summary-block>
</div>

<div style="margin: 25px auto; width: 23%">
  <app-button-dropdown selectedId=""></app-button-dropdown>
</div>

<!-- Angular Chart.js integration tutorial: https://www.positronx.io/angular-chart-js-tutorial-with-ng2-charts-examples/ -->
<div style="margin: 25px auto; width: 23%">
  <app-doughnut-chart></app-doughnut-chart>
</div>

<!-- app-action-item-edit select is not supposed to used directly: this will throw an error -->
<!-- <div style="margin: 25px auto; width: 380px">
  <app-action-item-edit></app-action-item-edit>
</div> -->
